@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
    font-family: 'Gothic_Goding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gothic_Goding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Noto Sans KR', snas-serif;
}

.container {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.sub-section {
    background: #ddd;
    height: 350px;
    display: flex;
    align-items: center;
}

.main-page-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
}

.main-page-section .section-title {
    letter-spacing: -0.5px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #dedede;
    background: #eee;
    padding: 8px 24px;
    margin: 0 auto;
}


/* 폰트 설정 */
.logo>h1 {
    font-family: 'Gothic_Goding';
    font-size: 30px;
    transform: translateY(-3px);
}

.logout-btn>input {
    font-size: 14px;
    transform: translateY(-3px);
    border: unset;
    background: unset;
    cursor: pointer;
}

.logout-btn>input:hover {
    color: #2d7c4a;
    font-weight: bold;
}



/* 네이게이션 바 */
.navbar {
    display: flex;
    gap: 14px;
}

.navbar a {
    font-size: 14px;
}

.navbar>a:hover {
    color: #2d7c4a;
    font-weight: bold;
}

.navbar>a.active {
    color: #2d7c4a;
    font-weight: bold;
}


/* 리뷰 없을 시 */
.no-review{
  width: 100%;
  padding: 20px 0;
  display: flex;justify-self: center;align-items: center;
}
.no-review p{
  width: 100%;text-align: center;
  font-size: 14px;
}